In [1]:
import pandas as pd
import numpy as np
import glob
import numpy as np
import html5lib

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option('display.max_columns', 500)

In [19]:
### Data Dictionary
# Accepted At Date: accepted by TDS? data error? non-trival rows with 1970-01-01 as publishing date
# Quality Audit Tier/Tier: 4 tiers. Tier 1 & 2 is featured by Medium's team. Tier 3: curated. Tier 4: not curated.
# Curation Name: Medium staff who assigns topics (can drop)
# Reads: when page is loaded (when does this get logged? have to adjust for longer articles)
# Views: includes Moc views
# Total Time Read: total time read by everyone

### most important columns
# Member Total Time Read: only appears in 2021 dfs bc Ludo requested
# Moc Views: Member only content views (# of views IF content was set behind a paywall, views by everyone, likely a high estimate of Reads)
# Member Views: only views by paying members

In [20]:
# code modified: https://stackoverflow.com/questions/55629530/adding-a-column-to-dataframe-while-reading-csv-files-pandas
# also see: https://stackoverflow.com/questions/40473299/how-to-save-out-in-a-new-column-the-url-which-is-reading-pandas-read-html-func

html_files = glob.glob('data/2021/*.html')
html_dfs = []

for file in html_files:
    df = pd.read_html(file, header=0, index_col=0)[0]
    df['filename'] = file
    html_dfs.append(df)

html_df = pd.concat(html_dfs, ignore_index=True)

html_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7129 entries, 0 to 7128
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Publication Name        7129 non-null   object
 1   Accepted At Date        7129 non-null   object
 2   Post Title              7126 non-null   object
 3   Author                  7129 non-null   object
 4   Post URL                7129 non-null   object
 5   Tier                    7129 non-null   object
 6   Name                    1461 non-null   object
 7   Added Date              7110 non-null   object
 8   Reads                   7129 non-null   int64
 9   Views                   7129 non-null   int64
 10  Total Time Read         7129 non-null   object
 11  Moc Views               7129 non-null   int64
 12  Member Views            7129 non-null   int64
 13  Member Total Time Read  7129 non-null   object
 14  filename                7129 non-null   object
dtypes: int64(4), object(11)
memory usage: 835.6+ KB

In [21]:
excel_files = glob.glob('data/2021/*.xlsx')
excel_dfs = []

for file in excel_files:
    df = pd.read_excel(file, index_col=0)
    df['filename'] = file
    excel_dfs.append(df)

excel_df = pd.concat(excel_dfs, ignore_index=True)

excel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8443 entries, 0 to 8442
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Publication Name        3144 non-null   object
 1   Accepted At Date        6141 non-null   datetime64[ns]
 2   Post Title              8435 non-null   object
 3   Author                  8443 non-null   object
 4   Post URL                8443 non-null   object
 5   Tier                    1606 non-null   object
 6   Name                    732 non-null    object
 7   Added Date              5893 non-null   datetime64[ns]
 8   Reads                   8443 non-null   int64
 9   Views                   8443 non-null   int64
 10  Total Time Read         8443 non-null   object
 11  Moc Views               8443 non-null   int64
 12  Member Views            1606 non-null   float64
 13  Member Total Time Read  1606 non-null   float64
 14  filename                8443 non-null   object
 15  Curated?                1481 non-null   object
 16  Curated                 5356 non-null   object
 17  Unnamed: 11             0 non-null      float64
 18  Unnamed: 12             0 non-null      float64
 19  Unnamed: 13             0 non-null      float64
 20  Unnamed: 14             0 non-null      float64
 21  Unnamed: 15             0 non-null      float64
 22  Unnamed: 16             0 non-null      float64
 23  Unnamed: 17             0 non-null      float64
 24  Unnamed: 18             0 non-null      float64
 25  Unnamed: 19             0 non-null      float64
 26  Unnamed: 20             0 non-null      float64
 27  Unnamed: 21             0 non-null      float64
 28  Unnamed: 22             0 non-null      float64
 29  Unnamed: 23             0 non-null      float64
 30  Unnamed: 24             0 non-null      float64
 31  Unnamed: 25             0 non-null      float64
dtypes: datetime64[ns](2), float64(17), int64(3), object(10)
memory usage: 2.1+ MB

In [22]:
# concat both html & excel dfs
df = pd.concat([excel_df, html_df])

In [23]:
df['filename'].value_counts()

data/2021/Towards_Data_Science_Monthly_Data_Pull_2021-02-01T1405.html    2233
data/2021/Towards_Data_Science_Monthly_Data_Pull_2021-03-01T1405.html    1754
data/2021/Towards_Data_Science_Monthly_Data_Pull_2021-04-01T1305.html    1639
data/2021/Towards Data Science Monthly Data Pull 2021-06-14T0950.xlsx    1606
data/2021/TDS June Data (1).xlsx                                         1538
data/2021/TDS July Data (1).xlsx                                         1516
data/2021/Towards_Data_Science_Monthly_Data_Pull_2021-05-01T1302.html    1503
data/2021/TDS August Data.xlsx                                           1481
data/2021/TDS September.xlsx                                             1238
data/2021/TDS October Performance.xlsx                                   1064
Name: filename, dtype: int64

In [24]:
## Hard coding alert
# this needs to be updated everytime a dataset is added

months = {"data/2021/Towards_Data_Science_Monthly_Data_Pull_2021-02-01T1405.html": 1,
          "data/2021/Towards_Data_Science_Monthly_Data_Pull_2021-03-01T1405.html": 2,
          "data/2021/Towards_Data_Science_Monthly_Data_Pull_2021-04-01T1305.html": 3,
          "data/2021/Towards_Data_Science_Monthly_Data_Pull_2021-05-01T1302.html": 4, 
          "data/2021/Towards Data Science Monthly Data Pull 2021-06-14T0950.xlsx": 5,
          "data/2021/TDS June Data (1).xlsx": 6,
          "data/2021/TDS July Data (1).xlsx": 7,
          "data/2021/TDS August Data.xlsx": 8,
          "data/2021/TDS September.xlsx": 9,
          "data/2021/TDS October Performance.xlsx": 10
}


# convert values in col to values in dict
df.loc[:, 'filename'] = df['filename'].map(months)

In [25]:
df.head()

,Publication Name,Accepted At Date,Post Title,Author,Post URL,Tier,Name,Added Date,Reads,Views,Total Time Read,Moc Views,Member Views,Member Total Time Read,filename,Curated?,Curated,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Towards Data Science,2021-06-14 00:00:00,Terminals / consoles / command line for absolu...,Mike Huls,https://www.medium.com/p/de7853c7f5e8,Unknown,NaN,2021-06-14 00:00:00,21,58,39.655384,58,31.0,24.035799,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Towards Data Science,2021-06-14 00:00:00,"Create a fully fledged, professional API with ...",Mike Huls,https://www.medium.com/p/1c94f732e584,Tier 4,Lauren Shade,1970-01-01 00:00:00,15,28,28.590618,28,11.0,9.715467,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Towards Data Science,2021-06-11 00:00:00,Coding a production ready API - part 1: implem...,Mike Huls,https://www.medium.com/p/8fce4d480d59,Unknown,NaN,2021-06-11 00:00:00,38,124,98.01065,124,41.0,69.972016,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Towards Data Science,2021-06-11 00:00:00,Version control your database Part 2: migratio...,Mike Huls,https://www.medium.com/p/d4fb185d95d8,Unknown,NaN,2021-06-11 00:00:00,39,175,56.788534,175,29.0,13.933499,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Towards Data Science,2021-06-11 00:00:00,Coding a production ready API - part 1: implem...,Mike Huls,https://www.medium.com/p/8fce4d480d59,Unknown,NaN,1970-01-01 00:00:00,38,124,98.01065,124,41.0,69.972016,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df[df['filename'] == 10].head(10)

,Publication Name,Accepted At Date,Post Title,Author,Post URL,Tier,Name,Added Date,Reads,Views,Total Time Read,Moc Views,Member Views,Member Total Time Read,filename,Curated?,Curated,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
4603,NaN,NaT,Building a Python CLI Tool to Extract the TOC ...,Victor Seifert,https://www.medium.com/p/ab5a7b9d07f2,NaN,NaN,NaT,6,12,16.656933,0,NaN,NaN,10,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4604,NaN,NaT,InfraNodus: An Excellent Tool for Textual Data...,Petr Korab,https://www.medium.com/p/2b4839e6cd10,NaN,NaN,NaT,7,15,11.303684,15,NaN,NaN,10,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4605,NaN,NaT,Fantastic Functions and Where to Use Them,mesutcanalkan,https://www.medium.com/p/f76ab7bb6b47,NaN,NaN,NaT,39,95,105.367547,95,NaN,NaN,10,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4606,NaN,NaT,Finding Patterns In Data Using NMF,Himanshu Sharma,https://www.medium.com/p/7b119555cb41,NaN,NaN,NaT,28,91,53.632434,91,NaN,NaN,10,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4607,NaN,NaT,Deep Learning Optimization Theory — Introduction,Omri Kaduri,https://www.medium.com/p/148b3504b20f,NaN,NaN,NaT,277,641,1123.906988,0,NaN,NaN,10,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4608,NaN,NaT,Fantastic Functions and Where to Use Them,mesutcanalkan,https://www.medium.com/p/f76ab7bb6b47,NaN,NaN,NaT,39,95,105.367547,95,NaN,NaN,10,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4609,NaN,NaT,Building Dashboards in Dash,Zachary Warnes,https://www.medium.com/p/591a6223efd3,NaN,NaN,NaT,662,1494,1256.000916,1494,NaN,NaN,10,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4610,NaN,NaT,Fourier Transform for Time Series,Joos Korstanje,https://www.medium.com/p/292eb887b101,NaN,NaN,NaT,404,809,1328.145709,809,NaN,NaN,10,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4611,NaN,NaT,How to tune multiple ML models with GridSearch...,Satyam Kumar,https://www.medium.com/p/9fcebfcc6c23,NaN,NaN,NaT,201,567,406.988704,567,NaN,NaN,10,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4612,NaN,NaT,Temporal Loops: Intro to Recurrent Neural Netw...,Heiko Onnen,https://www.medium.com/p/b0398963dc1f,NaN,NaN,NaT,533,1238,2013.032233,0,NaN,NaN,10,NaN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
## messy data types alert, courtesy of mixed df file types!
# notice that some rows have K, some rows are floats
# horrifying!

# df.total_time_read.value_counts()
# df['total_time_read'].apply(type).value_counts()

## Cleaning

In [28]:
columns = ['publication_name', 'accepted_at_date', 'post_title', 'author',
       'post_url', 'tier', 'name', 'added_date', 'reads', 'views',
       'total_time_read', 'moc_views', 'member_views',
       'member_total_time_read', 'filename']

def clean(df):
    
    # drop extra columns
    df.drop(df.iloc[:, 15:], inplace = True, axis = 1)
    
    df.columns = columns
    
    df = (df.pipe(drop_dups)
            .pipe(strip_k)
            .pipe(data_types)
            .pipe(correcting_units)
            .pipe(drop_cols)
            #.pipe(string_to_datetime, 'filename')
         )
    
    return df
    
def drop_dups(df):
    # drop duplicate rows based on post_title
    df = df.drop_duplicates('post_title', keep='first')
    return df

def clean_types(x):
    """ If the value is a string, then remove 'K'.
    Otherwise, the value is numeric and can be converted
    
    Code borrowed from: https://pbpython.com/currency-cleanup.html
    """
    if isinstance(x, str):
        return(x.replace('K', ''))
    return(x)

def strip_k(df):
    # drop k from total_time_read & member_total_time_read
    # use the function clean_types due to mixed data types in column
    df['total_time_read'] = df['total_time_read'].apply(clean_types)
    df['member_total_time_read'] = df['member_total_time_read'].apply(clean_types)

    return df

def data_types(df):
    # change dtypes for multiple columns
    convert_dict = {'total_time_read': float,
                    'member_total_time_read': float}
    df = df.astype(convert_dict)
    return df

def correcting_units(df):
    """
    Only correct units for files that have "K" 
    in the total_time_read column.
    
    Exclude: May, June, July, September, October
    
    August is fine. 
    
    """

    df['total_time_read'] = np.where((df['filename'] != 5) 
                                     & (df['filename'] !=6) 
                                     & (df['filename'] !=7)
                                     & (df['filename'] !=9)
                                     & (df['filename'] !=10),
                                     df['total_time_read'] * 1000,
                                     df['total_time_read'])

    return df

def drop_cols(df):
    # drop some columns!
    # the unnecessary cols are variable across dfs, so use 'ignore'
    df = df.drop(['publication_name', 'post_url', 'mame', 'username'], errors='ignore', axis=1)
    return df

def string_to_datetime(df, var):
    """
    Converts string representation of date into datetime.
    Splits datetime into separate columns.
    
    Only going to use this on filename for easier indexing.
    """
    df = df.copy()
    
    df['time'] = pd.to_datetime(df[var])
   
    df['day'] = df['time'].dt.day
    df['month'] = df['time'].dt.month
    df['year'] = df['time'].dt.year
    
    df = df.drop(columns=['time', var])

    return df

In [29]:
df = clean(df)
df.head(2)

<ipython-input-28-64b77a5a3297>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_time_read'] = df['total_time_read'].apply(clean_types)
<ipython-input-28-64b77a5a3297>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['member_total_time_read'] = df['member_total_time_read'].apply(clean_types)

,accepted_at_date,post_title,author,tier,name,added_date,reads,views,total_time_read,moc_views,member_views,member_total_time_read,filename
0,2021-06-14 00:00:00,Terminals / consoles / command line for absolu...,Mike Huls,Unknown,NaN,2021-06-14 00:00:00,21,58,39.655384,58,31.0,24.035799,5
1,2021-06-14 00:00:00,"Create a fully fledged, professional API with ...",Mike Huls,Tier 4,Lauren Shade,1970-01-01 00:00:00,15,28,28.590618,28,11.0,9.715467,5

In [30]:
df.filename.describe()
df.dtypes

accepted_at_date           object
post_title                 object
author                     object
tier                       object
name                       object
added_date                 object
reads                       int64
views                       int64
total_time_read           float64
moc_views                   int64
member_views              float64
member_total_time_read    float64
filename                    int64
dtype: object

In [31]:
# sanity check: nunique authors in January (hardcoded as 1) should be 905
df[df['filename'] == 1]['author'].nunique()

904

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11128 entries, 0 to 7127
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   accepted_at_date        9403 non-null   object
 1   post_title              11127 non-null  object
 2   author                  11128 non-null  object
 3   tier                    6078 non-null   object
 4   name                    1555 non-null   object
 5   added_date              9210 non-null   object
 6   reads                   11128 non-null  int64
 7   views                   11128 non-null  int64
 8   total_time_read         11128 non-null  float64
 9   moc_views               11128 non-null  int64
 10  member_views            6078 non-null   float64
 11  member_total_time_read  6078 non-null   float64
 12  filename                11128 non-null  int64
dtypes: float64(3), int64(4), object(6)
memory usage: 1.2+ MB

## KPI (I-L, Q)

In [33]:
# Pivot table of sum column by month
stats_table = df.pivot_table(index="filename", aggfunc=np.sum, values=['views', 'total_time_read', 'member_total_time_read'])
stats_table

          member_total_time_read  total_time_read    views
filename
1                     671.940000     2.901490e+06  2376374
2                     552.720000     2.588430e+06  2046237
3                     602.430000     2.864610e+06  2338304
4                     665.810000     3.944760e+06  3222927
5                  764848.854073     4.747529e+06  4168050
6                       0.000000     4.246365e+06  3498663
7                       0.000000     3.072707e+06  2812630
8                       0.000000     2.958960e+06  2518747
9                       0.000000     2.936621e+06  2698361
10                      0.000000     2.967506e+06  2590284

In [34]:
# Find active authors per month
# alternate: table = df.pivot_table(index="filename", aggfunc=lambda x: len(x.unique()), values=['author'])
authors_table = df.pivot_table(index="filename", aggfunc=pd.Series.nunique, values=['author'])
authors_table.rename({"author":"active_authors"}, axis=1, inplace=True)

In [35]:
# concat stats_table & authors_table
kpis = pd.concat([stats_table, authors_table], axis=1)
kpis

          member_total_time_read  total_time_read    views  active_authors
filename
1                     671.940000     2.901490e+06  2376374             904
2                     552.720000     2.588430e+06  2046237             785
3                     602.430000     2.864610e+06  2338304             754
4                     665.810000     3.944760e+06  3222927             687
5                  764848.854073     4.747529e+06  4168050             709
6                       0.000000     4.246365e+06  3498663             678
7                       0.000000     3.072707e+06  2812630             662
8                       0.000000     2.958960e+06  2518747             630
9                       0.000000     2.936621e+06  2698361             541
10                      0.000000     2.967506e+06  2590284             513

## KPI (M-N) / pareto analysis

#### Q. 80% of views are generated by x% of articles?

In [36]:
# create table to add all the pareto kpis to
# create index only from number of months

# pareto = pd.DataFrame(index=sorted(df.filename.unique()))
# pareto

In [37]:
def pareto_analysis_one(df, col, percentile):
    """
    Returns list object. 
    """
    
    lst = []
    
    # get list of months to iterate through
    # e.g. [1, 2, 3, 4]
    months = sorted(df.filename.unique())
    
    # loop through each month
    for month in months:
        
        # filter df just for the month
        df_m = df[df['filename'] == month]
        
        # total articles for the month
        total_articles = len(df_m.index)
        
        # sort dataframe in desc order by col
        df_m = df_m.sort_values(by=col, ascending=False)
    
        # perc share views. not neccessary for calc but good for ground truth
        total_views = df_m[col].sum()
        df_m['perc_share_views'] = (df_m[col] / total_views)*100
    
        # cumulative percentile
        df_m['cum_sum_views'] = df_m[col].cumsum()
        df_m['cum_sum_perc_views'] = 100*df_m['cum_sum_views']/total_views
    
        # filter the df_m where cum_sum_perc_views reach 80.0
        df_m = df_m[df_m['cum_sum_perc_views'] < percentile]
    
        # now calculate the KPI
        num_articles = len(df_m.index)
        kpi = (num_articles/total_articles)*100

        # add to lst
        lst.append(round(kpi, 2))
    
    return(lst)

# test
pareto_analysis_one(df, 'views', 80.00)

[26.25, 24.87, 19.25, 18.1, 17.71, 15.48, 20.31, 20.47, 22.48, 22.14]

In [38]:
kpis['80%_views_by_20%_articles'] = pareto_analysis_one(df, 'views', 80.00)
kpis

,member_total_time_read,total_time_read,views,active_authors,80%_views_by_20%_articles
filename,,,,,
1,671.940000,2.901490e+06,2376374,904,26.25
2,552.720000,2.588430e+06,2046237,785,24.87
3,602.430000,2.864610e+06,2338304,754,19.25
4,665.810000,3.944760e+06,3222927,687,18.10
5,764848.854073,4.747529e+06,4168050,709,17.71
6,0.000000,4.246365e+06,3498663,678,15.48
7,0.000000,3.072707e+06,2812630,662,20.31
8,0.000000,2.958960e+06,2518747,630,20.47
9,0.000000,2.936621e+06,2698361,541,22.48
10,0.000000,2.967506e+06,2590284,513,22.14

#### Q. 80% of views are generated by x% of authors?

In [39]:
def pareto_analysis_two(df, col, percentile):
    
    """
    Returns list object. 
    """
    
    lst = []
    
    # get list of months to iterate through
    # e.g. [1, 2, 3, 4]
    months = sorted(df.filename.unique())
    
    # loop through each month
    for month in months:
         
        # filter df just for the month
        df_m = df[df['filename'] == month]
        
        # total individual authors for the month
        total_authors = df_m['author'].nunique()
    
        # total views across all articles for the month
        total_views = df_m[col].sum()
    
        # total views by author
        df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
    
        # sort dataframe in desc order by total views by author
        df_m = df_m.sort_values(by='auth_total_views', ascending=False)
    
        # drop dup rows
        df_m = df_m.drop_duplicates('author', keep='first')
    
        # perc share views. not neccessary for calc but good for ground truth
        df_m['perc_share_views'] = (df_m['auth_total_views'] / total_views)*100
    
        # cumulative percentile
        # double-check the math
        df_m['cum_sum_views'] = df_m['auth_total_views'].cumsum()
        df_m['cum_sum_perc_views'] = 100*df_m['cum_sum_views']/total_views
    
        # filter the df where cum_sum_perc_views reach 80.0
        df_m = df_m[df_m['cum_sum_perc_views'] < percentile]
    
        # now calculate the KPI
        num_authors = len(df_m.index)
        kpi = (num_authors/total_authors)*100
    
        # add to lst
        lst.append(round(kpi, 2))
      
    return(lst)

pareto_analysis_two(df, 'views', 80.0)

<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')

[19.25, 19.75, 14.85, 13.39, 13.26, 11.5, 16.31, 16.19, 18.11, 17.74]

In [40]:
kpis['80%_views_by_20%_authors'] = pareto_analysis_two(df, 'views', 80.00)
kpis

<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')
<ipython-input-39-a7e8799d75f6>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['auth_total_views'] = df_m.groupby('author')[col].transform('sum')

,member_total_time_read,total_time_read,views,active_authors,80%_views_by_20%_articles,80%_views_by_20%_authors
filename,,,,,,
1,671.940000,2.901490e+06,2376374,904,26.25,19.25
2,552.720000,2.588430e+06,2046237,785,24.87,19.75
3,602.430000,2.864610e+06,2338304,754,19.25,14.85
4,665.810000,3.944760e+06,3222927,687,18.10,13.39
5,764848.854073,4.747529e+06,4168050,709,17.71,13.26
6,0.000000,4.246365e+06,3498663,678,15.48,11.50
7,0.000000,3.072707e+06,2812630,662,20.31,16.31
8,0.000000,2.958960e+06,2518747,630,20.47,16.19
9,0.000000,2.936621e+06,2698361,541,22.48,18.11
10,0.000000,2.967506e+06,2590284,513,22.14,17.74

## O, P

In [41]:
df['moc_views'].value_counts(bins=20).sort_index()

(-297.904, 14895.15]     10831
(14895.15, 29790.3]        185
(29790.3, 44685.45]         59
(44685.45, 59580.6]         23
(59580.6, 74475.75]         13
(74475.75, 89370.9]          7
(89370.9, 104266.05]         1
(104266.05, 119161.2]        1
(119161.2, 134056.35]        2
(134056.35, 148951.5]        3
(148951.5, 163846.65]        0
(163846.65, 178741.8]        1
(178741.8, 193636.95]        1
(193636.95, 208532.1]        0
(208532.1, 223427.25]        0
(223427.25, 238322.4]        0
(238322.4, 253217.55]        0
(253217.55, 268112.7]        0
(268112.7, 283007.85]        0
(283007.85, 297903.0]        1
Name: moc_views, dtype: int64

In [42]:
# quantile analysis: 35% of values are <= 0
df['moc_views'].quantile(0.35)

0.0

In [43]:
# alright let's code "moc_view"
# use a cutoff of greater than 10 moc_views to indicate member only content
df['member_only'] = np.where(df['moc_views'] > 10, 1, 0)

In [44]:
df['member_only'].value_counts()

1    7199
0    3929
Name: member_only, dtype: int64

In [45]:
# percentage of member only content
((df['member_only'].values == 1).sum() / len(df.index))*100

64.69266714593817

In [46]:
def moc_perc(df):
    """
    
    Returns a list.
    """
    lst = []
    
    # get list of months to iterate through
    # e.g. [1, 2, 3, 4]
    months = sorted(df.filename.unique())
    
    # loop through each month
    for month in months:
         
        # filter df just for the month
        df_m = df[df['filename'] == month]
    
        # create new col
        # picked cutoff point of 10 views to indicate member only content
        # based on EDA analysis
        df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
    
        # percentage of member only articles
        perc = ((df_m['member_only'].values == 1).sum() / len(df_m.index))*100
    
        lst.append(round(perc, 2))

    return lst

moc_perc(df)

<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)

[67.52, 63.37, 62.37, 62.59, 66.15, 65.17, 67.12, 66.33, 61.46, 62.77]

In [47]:
kpis['%paywalled'] = moc_perc(df)
kpis

<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)
<ipython-input-46-c2786ff46130>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['member_only'] = np.where(df_m['moc_views'] > 10, 1, 0)

,member_total_time_read,total_time_read,views,active_authors,80%_views_by_20%_articles,80%_views_by_20%_authors,%paywalled
filename,,,,,,,
1,671.940000,2.901490e+06,2376374,904,26.25,19.25,67.52
2,552.720000,2.588430e+06,2046237,785,24.87,19.75,63.37
3,602.430000,2.864610e+06,2338304,754,19.25,14.85,62.37
4,665.810000,3.944760e+06,3222927,687,18.10,13.39,62.59
5,764848.854073,4.747529e+06,4168050,709,17.71,13.26,66.15
6,0.000000,4.246365e+06,3498663,678,15.48,11.50,65.17
7,0.000000,3.072707e+06,2812630,662,20.31,16.31,67.12
8,0.000000,2.958960e+06,2518747,630,20.47,16.19,66.33
9,0.000000,2.936621e+06,2698361,541,22.48,18.11,61.46
10,0.000000,2.967506e+06,2590284,513,22.14,17.74,62.77

## Export to CSV for reporting

In [48]:
# rearrange columns to match Google sheets
cols = list(kpis.columns.values)

kpis = kpis[['views',
             'total_time_read',
             'member_total_time_read',
             'active_authors',
             '80%_views_by_20%_articles',
             '80%_views_by_20%_authors',
             '%paywalled']]

kpis

,views,total_time_read,member_total_time_read,active_authors,80%_views_by_20%_articles,80%_views_by_20%_authors,%paywalled
filename,,,,,,,
1,2376374,2.901490e+06,671.940000,904,26.25,19.25,67.52
2,2046237,2.588430e+06,552.720000,785,24.87,19.75,63.37
3,2338304,2.864610e+06,602.430000,754,19.25,14.85,62.37
4,3222927,3.944760e+06,665.810000,687,18.10,13.39,62.59
5,4168050,4.747529e+06,764848.854073,709,17.71,13.26,66.15
6,3498663,4.246365e+06,0.000000,678,15.48,11.50,65.17
7,2812630,3.072707e+06,0.000000,662,20.31,16.31,67.12
8,2518747,2.958960e+06,0.000000,630,20.47,16.19,66.33
9,2698361,2.936621e+06,0.000000,541,22.48,18.11,61.46
10,2590284,2.967506e+06,0.000000,513,22.14,17.74,62.77

In [49]:
kpis.to_csv('reporting/2021_kpis.csv', index=True)